.front-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Open';
}  

.header {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3;
  }
  
  .header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    font-family: 'Poppins'
  }
  

  .header-text p {
    font-size: 2em;
    margin-top: 10px;
  }

  .front-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
  
  .front-page-image-container {
    width: 50%;
  }
  
  .front-page-image {
    border-radius: 20%;
    width: 60%;
  }
  
  .front-page-text-container {
    margin:auto;
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .front-page-title {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .front-page-text {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.5;
  }
  